@model ShelterHelper.ViewModels.SpeciesViewModel;
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Species</h4>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="ConfirmEditSpecies" method="post" id="editSpecies">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div>
				<input asp-for="SpeciesId" hidden/>
			</div>
			<div class="form-group">
				<label asp-for="SpeciesName" class="control-label"></label>
				<input asp-for="SpeciesName" class="form-control" id="name-input" placeholder="Insert the name here"/>
				<span asp-validation-for="SpeciesName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SelectedDietId" class="control-label"></label>
				<div class="select-and-button">
					<select asp-for="SelectedDietId"
					        asp-items="new SelectList(Model.DietsList, nameof(Diet.DietId), nameof(Diet.DietName))"
					        class="form-control">
						<option value="" disabled selected hidden>Select option</option>
					</select>
					<button id="openDietModal" class="btn btn-success" type="button"
					        onclick="openModal(getElementById('dietModal'))">Add a new diet type
					</button>
				</div>
				<span asp-validation-for="SelectedDietId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="SelectedBeddingId" class="control-label"></label>
				<div class="select-and-button">
					<select asp-for="SelectedBeddingId"
					        asp-items="new SelectList(Model.BeddingsList, nameof(Bedding.BeddingId), nameof(Bedding.BeddingName))"
					        class="form-control">
						<option value="" disabled selected hidden>Select option</option>
					</select>
					<button id="openBeddingModal" class="btn btn-success" type="button"
					        onclick="openModal(getElementById('beddingModal'))">Add a new bedding type
					</button>
				</div>
				<span asp-validation-for="SelectedBeddingId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="SelectedToyId" class="control-label"></label>
				<div class="select-and-button">
					<select asp-for="SelectedToyId"
					        asp-items="new SelectList(Model.ToysList, nameof(Toy.ToyId), nameof(Toy.ToyName))"
					        class="form-control">
						<option value="" disabled selected hidden>Select option</option>
					</select>
					<button id="openToyModal" class="btn btn-success" type="button"
					        onclick="openModal(getElementById('toyModal'))">Add a new toy type
					</button>
				</div>
				<span asp-validation-for="SelectedToyId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="SelectedAccessoryId" class="control-label"></label>
				<div class="select-and-button">
					<select asp-for="SelectedAccessoryId"
					        asp-items="new SelectList(Model.AccessoriesList, nameof(Accessory.AccessoryId), nameof(Accessory.AccessoryName))"
					        class="form-control">
						<option value="" disabled selected hidden>Select option</option>
					</select>
					<button id="openAccessoryModal" class="btn btn-success" type="button"
					        onclick="openModal(getElementById('accessoryModal'))">Add a new accessory
					</button>
				</div>

				<span asp-validation-for="SelectedAccessoryId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Update" class="btn btn-primary" form="editSpecies"/>
			</div>
		</form>


		<div id="dietModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" asp-action="CreateNewDiet" class="new-item-form">
						<div class="modal-header">
							<h4 class="modal-title">Create a diet type</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label asp-for="Diet.DietName" class="control-label"></label>
								<input asp-for="Diet.DietName" class="form-control" placeholder="Insert the name here"/>
								<span asp-validation-for="Diet.DietName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Diet.Quantity_kg" class="control-label"></label>
								<input asp-for="Diet.Quantity_kg" class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span asp-validation-for="Diet.Quantity_kg" class="text-danger"></span>
							</div>
						</div>
						<div class="modal-footer">
							<input type="submit" value="Create" class="btn btn-primary" id="submitDiet"/>
							<button type="reset" class="btn btn-secondary" data-dismiss="modal" id="closeDietModal"
							        onclick="closeModal(document.getElementById('dietModal'))">Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="beddingModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" asp-action="CreateNewBedding" class="new-item-form">
						<div class="modal-header">
							<h4 class="modal-title">Create a new bedding type</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label asp-for="Bedding.BeddingName" class="control-label"></label>
								<input asp-for="Bedding.BeddingName" class="form-control"
								       placeholder="Insert the name here"/>
								<span asp-validation-for="Bedding.BeddingName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Bedding.Quantity_kg" class="control-label"></label>
								<input asp-for="Bedding.Quantity_kg" class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span asp-validation-for="Bedding.Quantity_kg" class="text-danger"></span>
							</div>
						</div>
						<div class="modal-footer">
							<input type="submit" value="Create" class="btn btn-primary"/>
							<button type="reset" class="btn btn-secondary" data-dismiss="modal" id="closeBeddingModal"
							        onclick="closeModal(document.getElementById('beddingModal'))">Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="toyModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" asp-action="CreateNewToy" class="new-item-form">
						<div class="modal-header">
							<h4 class="modal-title">Create a new toy type</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label asp-for="Toy.ToyName" class="control-label"></label>
								<input asp-for="Toy.ToyName" class="form-control" placeholder="Insert the name here"/>
								<span asp-validation-for="Toy.ToyName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Toy.Quantity" class="control-label"></label>
								<input asp-for="Toy.Quantity" class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span asp-validation-for="Toy.Quantity" class="text-danger"></span>
							</div>
						</div>

						<div class="modal-footer">
							<input type="submit" value="Create" class="btn btn-primary"/>
							<button type="reset" class="btn btn-secondary" data-dismiss="modal" id="closeToyModal"
							        onclick="closeModal(document.getElementById('toyModal'))">Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="accessoryModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" asp-action="CreateNewAccessory" class="new-item-form">
						<div class="modal-header">
							<h4 class="modal-title">Create a new accessory type</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label asp-for="Accessory.AccessoryName" class="control-label"></label>
								<input asp-for="Accessory.AccessoryName" class="form-control"
								       placeholder="Insert the name here"/>
								<span asp-validation-for="Accessory.AccessoryName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Accessory.Quantity" class="control-label"></label>
								<input asp-for="Accessory.Quantity" class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span asp-validation-for="Accessory.Quantity" class="text-danger"></span>
							</div>
						</div>

						<div class="modal-footer">
							<input type="submit" value="Create" class="btn btn-primary"/>
							<button type="reset" class="btn btn-secondary" data-dismiss="modal" id="closeAccessoryModal"
							        onclick="closeModal(document.getElementById('accessoryModal'))">Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
@if (TempData["Success"] != null)
{
	<div class="result-success temp-message">
		<p>@TempData["Success"].ToString()</p>
	</div>
}

@if (TempData["Error"] != null)
{
	<div class="result-error temp-message">
		<p>@TempData["Error"].ToString()</p>
	</div>
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
