@model ShelterHelper.ViewModels.CreateSpeciesViewModel;
@{
	ViewData["Title"] = "Add resources";
}


<h1>Add resources</h1>
<hr />

<div class="tabs">
	<button type="button" class="tablinks" onclick="openType(event, 'Diet')" id="openDefault">Diet</button>
	<button type="button" class="tablinks" onclick="openType(event, 'Bedding')">Bedding</button>
	<button type="button" class="tablinks" onclick="openType(event, 'Toy')">Toy</button>
	<button type="button" class="tablinks" onclick="openType(event, 'Accessory')">Accessory</button>
</div>


<div id="Diet" class="tabcontent">
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.DietsList)
				{
					<li value=@item.DietId>
						@item.DietName
						<!--quantity to be added-->
						<div>
							<input asp-for="Diet.Quantity_kg" class="form-control" type="number" placeholder="Insert the quantity here" />
							<span asp-validation-for="Diet.Quantity_kg" class="text-danger"></span>
						</div>
						<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

<div id="Bedding" class="tabcontent">
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.BeddingsList)
				{
					<li value=@item.BeddingId>
						@item.BeddingName
						<!--quantity to be added-->
						<div>
							<input asp-for="Bedding.Quantity_kg" class="form-control" type="number" placeholder="Insert the quantity here" />
							<span asp-validation-for="Bedding.Quantity_kg" class="text-danger"></span>
						</div>
						<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

<div id="Toy" class="tabcontent">
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.ToysList)
				{
					<li value=@item.ToyId>
						@item.ToyName
						<!--quantity to be added-->
						<div>
							<input asp-for="Toy.Quantity" class="form-control" type="number" placeholder="Insert the quantity here" />
							<span asp-validation-for="Toy.Quantity" class="text-danger"></span>
						</div>
						<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

<div id="Accessory" class="tabcontent">	
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.AccessoriesList)
				{
					<li value=@item.AccessoryId>
						@item.AccessoryName
						<!--quantity to be added-->
						<div>
							<input asp-for="Accessory.Quantity" class="form-control" type="number" placeholder="Insert the quantity here" />
							<span asp-validation-for="Accessory.Quantity" class="text-danger"></span>
						</div>
						<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

				<button id="scroller">Scroll to top</button>