@using Microsoft.CodeAnalysis.Scripting
@model ShelterHelper.ViewModels.AssignmentViewModel;

@{
	ViewData["Title"] = "Create";
	var prioritiesList = new SelectList(new List<SelectListItem>
	{
		new SelectListItem { Text = "Low", Value = "0" },
		new SelectListItem { Text = "Medium", Value = "1" },
		new SelectListItem { Text = "High", Value = "2" },
		new SelectListItem { Text = "Very high", Value = "3" }
	}, "Value", "Text");
}


<h1>Create</h1>
<h4>Add a new assignment</h4>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Assignment.Title" class="control-label"></label>
				<input asp-for="Assignment.Title" class="form-control" placeholder="Insert the title here"/>
				<span asp-validation-for="Assignment.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Assignment.Description" class="control-label"></label>
				<input asp-for="Assignment.Description" class="form-control" placeholder="Insert the description here"/>
				<span asp-validation-for="Assignment.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Assignment.Priority" class="control-label"></label>
				@Html.DropDownList("Assignment.Priority", prioritiesList, "Select priority level", new { @class = "form-control" })
				<span asp-validation-for="Assignment.Priority" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Assignment.CreatorId" class="control-label"></label>
				<input asp-for="Assignment.CreatorId" class="form-control" type="number"
				       placeholder="Insert your ID here"/>
				<span asp-validation-for="Assignment.CreatorId" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="Assignment.CreationDate" class="control-label"></label>
				<input asp-for="Assignment.CreationDate" class="form-control" type="date"/>
				<span asp-validation-for="Assignment.CreationDate" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>
