html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
}


body {
    height: 100%;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 60px 6fr 60px;
    width: 100%;
    align-content: start;
    background-color: #121212;
    color: white;
    overflow: hidden;
}

header {
    grid-column: 1 /span 2;
    grid-row: 1;
}

nav {
    background-color: rgba(255, 255, 255, 0.05);
    height:60px;
}

footer {
    grid-column: 1 /span 2;
    grid-row: 3;
    padding-left: 2em;
    background-color: rgb(31, 31, 31);
    position:relative !important;
}

.container {
    min-width: 100%;
    grid-column: 2;
    padding: 20px;
    max-height: 87vh;
    margin-top: 4px;
    overflow:auto;
}

.side-menu {
    grid-column: 1;
    list-style: none;
    border-right: 3px solid #A3FCB6;
    height: auto;
    min-width: 210px;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.side-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0 8px;
    width: 100%;
}

.nav-btn {
    display: inline-block;
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.15);
    border-style: none;
    border-radius: 20px;
    text-align: left;
    padding: 15px 20px;
    width: 100%;
    color: white;
    text-decoration-line: none;
}

.nav-btn:hover {
    outline: 1px solid #A3FCB6;
    color: white;
}

.species-table {
    width: 100%;
    height: 100%;
}

table, .table {
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    border-radius: 20px;
}

.resources-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.resources-container table {
    margin-right: 20px;
    width: auto;
    height: max-content;
}

thead {
    font-size: 18px;
}

tbody tr {
    border: 1px solid #A3FCB6;
    border-left: none;
    border-right: none;
    height: 50px;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

tr:first-of-type {
    border-top-color: white;
}

tbody tr:last-of-type {
    border-bottom: hidden;
    border-radius: 25px;
}

tr:last-of-type:hover td:first-child {
    border-bottom-left-radius: 20px;
}

tr:last-of-type:hover td:last-child {
    border-bottom-right-radius: 20px;
}

.col-md-4 {
    width: 50%;
    min-width: 650px;
}

.form-control, .select2-container--default, .select2-selection--multiple {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    font-size: 16px !important;
    height: 45px !important;
    border-color: rgb(206, 212, 218) !important;
}
.select2-container--default, .select2-selection--multiple {    
    background-color: rgba(255, 255, 255, 0.09) !important;
    width: 100% !important;
}

.select2-container--default .select2-container{
    width:100%;
}

.select2-selection--multiple{
    padding: 0.375rem 0.75rem;
}

#name-input {
    width: 100%;
    height: 45px;
}

.form-control::placeholder {
    color: white;
    opacity: 0.5;
}

.form-control:focus, .select2-results__option--highlighted{
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

select option, .select2-results__option, .select2-results__option--selected {
    background-color: rgba(18, 18, 18, 0.75);
    color: white;
}

.select-and-button {
    display: inline-flex;
    width: 100%;
    height: 45px;
}

.select-and-button button {
    width: 50%;
    margin-left: 2%;
    font-size: 16px;
}

.btn-primary, .btn-secondary {
    margin-top: 2%;
}

.new-item-form {
    background-color: rgba(18, 18, 18, 0.75);
}

.tabs {
    width: 50%;
    min-width: 650px;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.tabs button {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border-style: none;
    border-bottom: solid 2px white;
    padding: 10px 15px;
    font-size: 20px;
    width: 100%;
}

.tabs button:first-child {
    border-top-left-radius: 5px;
}

.tabs button:last-child {
    border-top-right-radius: 5px;
}

.tabs button.active {
    border: solid 2px white;
    border-bottom: none;
}

.add-resources-table > li {
    margin: 1rem 0;
    font-size: 20px;
    list-style: none;

}

.add-resources-table p {
    margin: 0;
    align-content: center;
}

.add-resources-table form {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;

}

.add-resources-table input {
    width: 90%;
    grid-column: 2;
    height: 100%;
}

.add-resources-table button {
    grid-column: 3;
    margin: 0;
}

#scroller {
    position: fixed;
    bottom: 100px;
    right: 100px;
}

.result-success p {
    background-color: rgb(11, 125, 11);
    border-radius: 15px;
    padding: 10px 15px;
    width: 100%;
}

.result-error p {
    background-color: rgb(125, 11, 11);
    border-radius: 15px;
    padding: 10px 15px;
    width: 100%;
}

.temp-message {
    border-style: none;
    border-radius: 20px;
    padding-left: 20px;
    color: black;
    animation: fade-out 2s ease-out 2s both;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}


#filteringForm .form-control{
    min-width:200px;
}
#filteringForm > * {
    display: inline-block;
    height: 40px;
}

.board {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.board ol {
    display: flex;
    flex-direction: column;
    padding-left: 0;

}

.board .table {
    list-style: none;
    padding: 8px;
}

.assignments-column ol {
    height: 450px;
    overflow-y: auto;
}

.todo-item {
    border-radius: 20px;
    border: 1px solid #A3FCB6;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;    
}
.todo-item > * {
    padding-left:8px;
    padding-right:8px;
}
.todo-title{
    padding-top:8px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display:flex;
    justify-content: space-between;
}

.todo-title:hover{
    background-color: rgba(255,255,255, 0.20);
    cursor:pointer;
}

.todo-description {
    font-size: 14px;
}

.todo-collapsible{
    padding-top:8px;
    padding-bottom: 8px;
    display:none;
}
.assignment-controls{
    display:flex;
    justify-content: space-between;
    padding-bottom:8px;
}

.select2-selection__choice{
    color:black;
    margin-top: 0px !important;
}

.priority-circle{
    height: 15px;
    width:15px;
    border-radius:50%;
    vertical-align: center;
    flex-shrink: 0;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:5px;
}
